* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
}

body {
  background-color: #0a0a0a;
  position: relative;
}




/* hamburger menu */
#hamburgermenu {
  position: absolute;
  top: 15px;
  left: 15px;
  height: 60px;
  width: 60px;
  background-color: rgba(0, 0, 0, 0.81);
  z-index: 12;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 50%;
}
#hamburgermenu #innermenu {
  position: absolute;
  height: 20px;
  width: 20px;
}
#hamburgermenu span {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  background-color: rgba(215, 215, 215, 0.81);
  height: 3px;
  width: 100%;
}
#hamburgermenu span:nth-of-type(1) {
  top: 0;
}
#hamburgermenu span:nth-of-type(2) {
  top: 8.25px;
}
#hamburgermenu span:nth-of-type(3) {
  top: 17px;
}
#hamburgermenu:not(:hover) span {
  background-color: rgba(215, 215, 215, 0.65);
  transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
#hamburgermenu:hover span {
  background-color: rgba(215, 215, 215, 1);
  transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
#hamburgermenu:not(:hover) {
  background-color: rgba(0, 0, 0, 0.61);
  transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
#hamburgermenu:hover {
  background-color: rgba(0, 0, 0, 0.95);
  transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}


/* the popout menu when you click the hamburger */
#sidemenu {
  position: fixed;
  left: -200px;
  top: 0;
  width: 200px;
  height: 100%;
  background-color: rgba(168, 168, 168, 0.9);
  z-index: 8;
  display: none;
}
#sidemenu ul {
  position: relative;
  margin-top: 100px;
  left: 20%;
  font-family: arial;
  font-size: 1.5em;
  font-weight: 700;
  color: rgba(26, 26, 26, 0.9);
  list-style-type: none;
  line-height: 2.5rem;
}

.slidesidemenuout {
	-webkit-animation: slideout 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	        animation: slideout 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slideout {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.slidesidemenuin {
	-webkit-animation: slidein 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	        animation: slidein 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slidein {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}






/* main title 'photoblob' */
#titlecontainer {
  position: absolute;
  height: 100vh;
  width: 70%;
  left: 0;
  right: 0;
  margin: auto;
}

#phototitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: auto;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 500;
  font-family: calibri;
  color: #ffffffbb;
}

#phototitle span {
  opacity: 0;
  display: inline-block;
}
.flip-in-hor-bottom {
	-webkit-animation: flip-in-hor-bottom 2s cubic-bezier(.26,.52,.33,.97) both;
	        animation: flip-in-hor-bottom 2s cubic-bezier(.26,.52,.33,.97) both;
          opacity: 1 !important;
}
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}




/* masonry grid */
.masonry {
  width: 25%;
  float: left;
  max-width: 1500px;
}

@media only screen and (max-width: 1000px) {
	 .masonry {
    width: 50%;
    float: left;
  }
}
@media only screen and (max-width: 300px) {
	 .masonry {
    width: 100%;
    float: left;
  }
}

.eachimage {
  position: relative;
  width: 100%;
  display: inline-block;
  float: left;
  overflow: hidden;
  opacity: 0;
  max-height: 450px;
}

.masonry img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  filter: gray;
  -webkit-filter: grayscale(0.95);
  filter: grayscale(0.95);
  transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.masonry img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transform: scale(1.02);
}

.fade-in-left {
	-webkit-animation: fade-in-left 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) both;
	        animation: fade-in-left 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 80vh;
}
#lightbox {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 50;
}
#slider {
  position: relative;
  overflow: hidden;
  margin: 3% auto;
  height: 95vh;
  width: 90vw;
}
#slider ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
}
#slider li {
  position: relative;
  display: block;
  float: left;
  margin: auto;
  padding: 0;
  height: auto;
  width: 100%;
  align-self: center;
}
.slidertext {
  display: block;
  color: rgba(255,255,255, 0.75);
  height: 10%;
  margin: auto;
  max-width: 668px;
  font-family: 'open sans';
}
.slidertext h3 {
  text-align: center;
}
.slidebuttons {
  color: rgba(255, 255, 255, 0.85);
  position: absolute;
  height: auto;
  width: auto;
  background-color: rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  padding: 4% 3%;
  text-decoration: none;
  z-index: 20;
  font-size: 2em;
  top: 40%;
}
.slidenext {
  font-family: 'Do Hyeon', sans-serif;
  right: 0;
}
.slideprev {
  font-family: 'Do Hyeon', sans-serif;
  left: 0;
}
#closelightbox {
  color: rgba(255, 255, 255, 0.85);
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  box-sizing: border-box;
  padding: 1.5%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 20;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
.fadeanim {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
  animation-direction: both;
}

@-webkit-keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}





/**/
