* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background: transparent;
  cursor: url(cursor1.png), default !important;
}

::-webkit-scrollbar {
    width: 3px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #465c7bff;
}

body {
  background-color: #0a0a0a;
  position: relative;
  overflow-x: hidden;
}
#mainbodyofblog {
  background-color: #0a0a0a;
  display: none;
  position: relative;
}


/* landing page stuff */
.hide {
   display: none;
}
#landingpagecontainer {
  width: 100vw;
  height: 100vh;
  background-color: #465c7bff;
  overflow: hidden;
  display: none;
}
#landingpage {
   position: relative;
   width: 100%;
   height: 100%;
   background-color: #465c7bff;
   display: flex;
   align-items: center;
   justify-content: center;
   overflow: ;
   z-index: 100;
   transform: scale(0.5);
}
.buttons {
   z-index: 100;
}


/*positioning the svg in centre */
svg {
   position: absolute;
   margin: auto;
   height: 300px;
}
/* making sure all paths have their origin in their own centres - using inkscape outside this */
#mainorangerect {
   transform-origin: 50% 50%;
}
#centrerectlarge {
   transform-origin: 50% 50%;
}
#orangerecttop3, #orangerecttop2, #orangerecttop1 {
   transform-origin: 0 18%;
}
#orangerecttopright {
   transform-origin: 0 22%;
}
#bottomrectlarge {
   transform-origin: 0 85%;
}
#bottomrectsmall {
   transform-origin: 0 85%;
}
/* function for elements slitting in horizontally */
.popiny {
	        animation: popiny 0.5s cubic-bezier(.44,.28,.65,1.27);
   display: initial;
}
@keyframes popiny {
  0% {
            transform: scaleY(0);
  }
   60% {
            transform: scaleY(1.05);
  }
   80% {
            transform: scaleY(0.9);
  }
  100% {
            transform: scaleY(1);
  }
}

#topleftring {
   transform-origin: 7.25% 15.23%;
}
#topblueysquare {
   transform-origin: 86.7% 22%;
}
#lensshade {
   transform-origin: 59.99% 53.73%;
}
#lenscircorange, #pinklens, #purplelens, #blueylens, #lensglare1, #lensglare2 {
   transform-origin: 66.5% 49.77%;
}
#littleorangecirccentre {
   transform-origin: 37.3% 34.48%;
}
/* function for elements popping in from centre */
.popinxy {
	 animation: popinxy 0.5s cubic-bezier(.44,.28,.65,1.27);
   display: initial;
}
@keyframes popinxy {
  0% {
            transform: scale(0);
  }
   60% {
            transform: scale(1.02);
  }
   80% {
            transform: scale(0.97);
  }
  100% {
            transform: scale(1);
  }
}
/* editing the flash origins and positions */
#firstflashsquare1, .firstflashsquare1bits {
   transform-origin: 53.66% 15.67%;
   stroke-width: 0;
}
#firstflashsquare2, .firstflashsquare2bits {
   transform-origin: 58.141% 13.04%;
   stroke-width: 0;
}
/* animation for flash squares */
.flashenlarge {
	        animation: flashenlarge 0.15s cubic-bezier(.44,.28,.65,1.27);
   display: initial;
}
@keyframes flashenlarge {
  0% {
      stroke-width: 0;
   }
  2% {
     display: initial;
     transform: scale(1) rotate(0deg);
     stroke-width: 0.3;
  }
  99% {
     transform: scale(5) rotate(90deg);
     stroke-width: 0.02;
  }
   100% {
      stroke-width: 0;
   }
}
/* animation for flash lines coming off */
.flashenlargebits {
	        animation: flashenlargebits 0.07s cubic-bezier(.44,.28,.65,1.27);
   display: initial;
}
@keyframes flashenlargebits {
  0% {
      stroke-width: 0;
   }
  2% {
     display: initial;
     transform: scale(1);
     stroke-width: 0.03;
  }
  99% {
     transform: scale(1.1);
     stroke-width: 0.09;
  }
   100% {
      stroke-width: 0;
   }
}


/* animation for button pressing */
.flashpress {
   animation: flashpress 0.4s linear;
}

@keyframes flashpress {
   0% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(3%);
   }
   100% {
      transform: translateY(0);
   }
}

/* making photograph container, top is just where the photo will appear, in bottomrectsmall */
/* to get sizing just in css, photocontainer 1 is set to 50vh, photocontainer2 is set to the measure of 50vh to bottomrectsmall, using inkscape */
#photocontainer1 {
   position: absolute;
   background-color: none;
   height: 700px;
   width: 300px;
   top: 50vh;
   transform: translateX(4%);
}
#photocontainer2 {
   position: relative;
   background-color: none;
   height: 700px;
   width: 300px;
   top: 119px;
   overflow: hidden;
}
#photograph {
   position: absolute;
   height: 210px;
   width: 270px;
   background-color: rgb(239, 237, 239);
   box-sizing: border-box;
   padding: 3%;
   top: -210px;
}
#photographinner {
   position: relative;
   background-color: rgb(20, 20, 20);
   height: 100%;
   width: 100%;
}
/* moving the photo */
.movephotodown {
   animation: slidephotoout 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
@keyframes slidephotoout {
   from {
      transform: translateY(0);
   }
   to {
      transform: translateY(350px);
   }
}

/* final animation, move photo up to middle and expand photocontainer2 to fill window, since photo has an animtion already */
.fillwindow {
   animation: photobig 1s cubic-bezier(0.895, 0.03, 0.685, 0.22) both;
}
@keyframes photobig {
   from {
      transform: scale(1);
   }
   to {
      transform: translateY(300%) scale(20);
   }
};







/* hamburger menu */

#hamburgermenu span:nth-of-type(1) {
  top: 0;
}
#hamburgermenu span:nth-of-type(2) {
  top: 8.25px;
}
#hamburgermenu span:nth-of-type(3) {
  top: 17px;
}
#hamburgermenu:not(:hover) span {
  background-color: rgba(215, 215, 215, 0.65);
  transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
#hamburgermenu:hover span {
  background-color: rgba(215, 215, 215, 1);
  transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
#hamburgermenu:not(:hover) {
  background-color: rgba(0, 0, 0, 0.61);
  transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}
#hamburgermenu:hover {
  background-color: rgba(0, 0, 0, 0.95);
  transition: 0.3s cubic-bezier(0.55, 0.085, 0.68, 0.53);
}

#hamburgermenu {
  position: absolute;
  top: 25px;
  left: 25px;
  height: 60px;
  width: 60px;
  z-index: 500;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 50%;
  opacity: 0;
}
#hamburgermenu #innermenu {
  position: absolute;
  height: 20px;
  width: 20px;
}
#hamburgermenu span {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  display: inline-block;
  background-color: rgba(215, 215, 215, 0.81);
  height: 3px;
  width: 100%;
}



/* the popout menu when you click the hamburger */
#sidemenu {
  position: fixed;
  left: -200px;
  top: 0;
  width: 200px;
  min-width: 100px;
  height: 100%;
  background-color: rgba(165, 165, 165, 0.95);
  z-index: 8;
  display: none;
}
#sidemenu ul {
  position: relative;
  margin-top: 60%;
  font-family: Calibri;
  font-size: 150%;
  font-weight: 700;
  color: rgba(70, 92, 122, 0.8);
  list-style-type: none;
  line-height: 4rem;
  width: 100%;
}
#sidemenu ul li {
  box-sizing: border-box;
  padding: 3% 15%;
  text-decoration: none;
}
#sidemenu ul li:not(:hover) {
  background-color: rgba(165, 165, 165, 0.95);
  color: rgba(70, 92, 122, 0.8);
  transition: 100ms linear;
}
#sidemenu ul li:hover {
  background-color: rgba(70, 92, 122, 0.8);
  color: rgba(165, 165, 165, 0.95);
  transition: 100ms linear;
}
#sidemenu ul a {
  color: rgba(70, 92, 122, 0.8);
  text-decoration: none !important;
}
.slidesidemenuout {
	-webkit-animation: slideout 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	        animation: slideout 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slideout {
  0% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
  100% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
}
.slidesidemenuin {
	-webkit-animation: slidein 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
	        animation: slidein 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@keyframes slidein {
  0% {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}






/* main title 'photoblob' */
#titlecontainer {
  position: absolute;
  height: 100vh;
  width: 70%;
  left: 0;
  right: 0;
  margin: auto;
}

#phototitle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  margin: auto;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 1rem;
  font-weight: 500;
  font-family: calibri;
  color: #ffffffbb;
}

#phototitle span {
  opacity: 0;
  display: inline-block;
}
.flip-in-hor-bottom {
	-webkit-animation: flip-in-hor-bottom 2s cubic-bezier(.26,.52,.33,.97) both;
	        animation: flip-in-hor-bottom 2s cubic-bezier(.26,.52,.33,.97) both;
          opacity: 1 !important;
}
@-webkit-keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}
@keyframes flip-in-hor-bottom {
  0% {
    -webkit-transform: rotateX(80deg);
            transform: rotateX(80deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0);
            transform: rotateX(0);
    opacity: 1;
  }
}




/* masonry grid */
.masonry {
  width: 25%;
  float: left;
  max-width: 1500px;
}

@media only screen and (max-width: 1000px) {
	 .masonry {
    width: 50%;
    float: left;
  }
}
@media only screen and (max-width: 400px) {
	 .masonry {
    width: 100%;
    float: left;
  }
}

.eachimage {
  position: relative;
  width: 100%;
  display: flex;
  float: left;
  overflow: hidden;
  opacity: 0;
  max-height: 350px;
  align-items: center;
}

.masonry img {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  filter: gray;
  -webkit-filter: grayscale(0.95);
  filter: grayscale(0.95);
  transition: all 0.4s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.masonry img:hover {
  filter: none;
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  transform: scale(1.02);
}

.fade-in-left {
	-webkit-animation: fade-in-left 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) both;
	        animation: fade-in-left 0.9s cubic-bezier(0.47, 0, 0.745, 0.715) both;
}
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-5px);
            transform: translateX(-5px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.lightboxslides img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  max-height: 80vh;
}
#lightbox {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 50;
}
#slider {
  position: relative;
  overflow: hidden;
  margin: 2% auto;
  height: 95vh;
  width: 90vw;
}
#slider ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  height: 100%;
}
#slider li {
  position: relative;
  display: block;
  float: left;
  margin: auto;
  padding: 0;
  height: auto;
  align-self: center;
}
.slidertext {
  display: block;
  color: rgba(255,255,255, 0.75);
  height: 10%;
  margin: 1% auto;
  max-width: 668px;
  font-family: 'open sans';
}
.slidertext h3 {
  text-align: center;
}
.slidebuttons {
  color: rgba(255, 255, 255, 0.85);
  position: absolute;
  height: auto;
  width: auto;
  background-color: rgba(0, 0, 0, 0.75);
  box-sizing: border-box;
  padding: 3% 2%;
  text-decoration: none;
  z-index: 20;
  font-size: 1.5rem;
  top: 40%;
}
.slidenext {
  font-family: 'Do Hyeon', sans-serif;
  right: 0;
}
.slideprev {
  font-family: 'Do Hyeon', sans-serif;
  left: 0;
}
#closelightbox {
  color: rgba(255, 255, 255, 0.85);
  position: absolute;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  box-sizing: border-box;
  padding: 1.5%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 20;
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
}
.fadeanim {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
  animation-direction: both;
}

@-webkit-keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .2}
  to {opacity: 1}
}





/**/
